<html>
	<head>
		<title>
		    56
		</title>
	</head>
	<body>
        <form method="post">
            Name: <input type="text" name="Name">
            <input type="button" onclick="showCards()">
        </form>
        <!--<div style="font-size: 60pt">
		    {% autoescape false %}
                {% for name in hands %}
                    {{ name }}:
                    {% for card in hands[name] %}
                        {{ card }}
                    {% endfor %}
                    <br>
                {% endfor %}
            {% endautoescape %}
        </div>-->
	</body>
    <script>
        function showCards() {
            let _name = document.getElementsByName("Name");
            let hand = JSON.parse({{hands | safe }})[_name];
            let code = "<div style=\"font-size: 60pt\">";
            for(let i = 0; i < hand.length; i += 1) {
                code += hand[i];
            }
            code += "</div>";
            document.getElementsByTagName("body")[0].innerHTML += code;
        }
    </script>
</html>
